<div class="card px-2">
    <div class="caption">
        <h3>Car Name: <span>{{$ctrl.car.carName}}</span></h3>
        <p><button class="btn btn-primary" ng-click="$ctrl.clickCarInf(car)">See More</button></p>
    </div>
</div>

