<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-center">
                Form
                <span ng-if="!$ctrl.isEdit ">creating</span>
                <span ng-if="$ctrl.isEdit ">editing</span>
                Car
            </h2>
        </div>
    </div>
</div>

<div id="first" class="tabcontent card block">
    <form name="carForm" class="my-form" novalidate>

        <div class="form-group">
            <label for="name">Name:</label>
            <input name="carName"
                   ng-model="$ctrl.carForm.carName"
                   required
                   class="form-control"
                   id="name"
            >
            <div class="invalid-feedback" ng-show="carForm.carName.$error.required">
                Required field
            </div>
        </div>

        <div class="form-group">
            <label for="model">Model:</label>
            <input name="model" ng-model="$ctrl.carForm.model" required
                   class="form-control"
                   id="model">
            <div class="invalid-feedback" ng-show="carForm.model.$error.required">
                Required field
            </div>
        </div>

    </form>
    <button class="btn btn-success"
            ng-click="$ctrl.handlerTab($event, 'second')"
            ng-disabled="carForm.vehicleId.$error.required || carForm.carName.$error.required"
    >
        Next
    </button>
</div>

<div id="second" class="tabcontent card">

    <form name="carFormTwo" class="my-form ">
        <div class="form-group">
            <label for="vehicleId">Vehicle ID:</label>
            <input name="vehicleId" ng-model="$ctrl.carForm.vehicleId" required
                   class="form-control"
                   id="vehicleId">
            <div class="invalid-feedback" ng-show="carFormTwo.vehicleId.$error.required">
                Required field
            </div>
        </div>

        <div class="form-group">
            <label for="type">Type:</label>
            <select name="type" ng-model="$ctrl.carForm.type" required class="form-control" id="type">
                <option value="Minivan">Minivan</option>
                <option value="Sedan">Sedan</option>
                <option value="Bus">Bus</option>
            </select>
            <div class="invalid-feedback" ng-show="carFormTwo.type.$error.required">
                Required field
            </div>
        </div>
    </form>
    <button class="btn btn-success"
            ng-click="$ctrl.handlerTab($event, 'first')"
    >
        Prev
    </button>
    <button class="btn btn-success"
            ng-click="$ctrl.handlerTab($event, 'three')"
            ng-disabled="carFormTwo.type.$error.required || carFormTwo.model.$error.required"
    >
        Next
    </button>
</div>

<div id="three" class="tabcontent">

    <form name="carFormThree" class="my-form ">
        <div class="form-group">
            <label for="year">Year:</label>
            <input name="year" type="number" ng-model="$ctrl.carForm.year" required
                   class="form-control"
                   id="year">
            <div class="invalid-feedback" ng-show="carFormThree.year.$error.required">
                Required field
            </div>
        </div>
    </form>

    <div class="d-flex justify-content-between">
        <button class="btn btn-success"
                ng-click="$ctrl.handlerTab($event, 'second')"
        >
            Prev
        </button>
        <button class="btn btn-primary"
                ng-click="$ctrl.handlerSave()"
                ng-disabled="carFormThree.year.$error.required"
        >
            Save
        </button>
    </div>

</div>
