<div class="card px-2">
    <button class="btn btn-default btn-close" ng-click="$ctrl.clearSelectedCar()">
        Close
    </button>
    <div class="caption">
        <h3>Car Name: <span>{{$ctrl.selectedCar.carName}}</span></h3>
        <p>Vehicle ID: {{$ctrl.selectedCar.vehicleId}}</p>
        <p>Model: {{$ctrl.selectedCar.model}}</p>
        <p>Year: {{$ctrl.selectedCar.year}}</p>
        <p>Type: {{$ctrl.selectedCar.type}}</p>

        <p>
            <button class="btn btn-primary" ng-click="$ctrl.clickEditCar($event)">Edit</button>
        </p>
    </div>
</div>
