body {
  padding: 20px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

.btn-close {
  position: absolute;
  top: 9px;
  right: 9px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
}

.block {
  display: block;
}

.none {
  display: none;
}

.invalid-feedback {
  display: none !important;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.ng-invalid.ng-touched {
  border: 1px solid #dc3545;
}

.ng-invalid.ng-touched+.invalid-feedback {
  display: block !important;
}

.btn-create-car {
  margin-bottom: 9px;
  margin-top: 9px;
}
