<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card px-2 py-2" ng-if="$ctrl.cars">
                <button class="btn btn-primary"  ng-click="$ctrl.redirectToCreateCar()">
                    Add Car
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-12" ng-if="!$ctrl.cars">
            <h3 class="card px-2">
                <span>
                    You don't have any cars.
                    Let's get started press button Create Car.
                </span>
                <button class="btn btn-primary btn-create-car" ng-click="$ctrl.redirectToCreateCar()">
                    Create Car
                </button>
            </h3>
        </div>
        <div class="col-sm-6 col-md-6" ng-if="$ctrl.cars">
            <car ng-repeat="car in $ctrl.cars track by $index"
                 class="py-2 d-block"
                 car="car"
                 handler-click-car="$ctrl.clickCarInf(car)"

            ></car>
        </div>
        <div class="col-sm-6 col-md-6" ng-if="$ctrl.selectedCar">
            <car-detail selected-car="$ctrl.selectedCar"
                        class="py-2 d-block"
                        handler-edit-click="$ctrl.clickEditCar(car)"
                        handler-clear-selected-car="$ctrl.clearSelectedCar()"
            ></car-detail>
        </div>
    </div>
</div>
